.my-header {
  background-color: #e6f4ff; 
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  width: 100%;
}
.my-sider{
  background-color: #e6f4ff; 
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;

}

.my-header h1 {
  margin: 100; /* Remove margin for h1 element */
}